apispec==6.6.1
blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Cors==5.0.0
Flask-HTTPAuth==4.8.0
flask-smorest==0.44.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
marshmallow==3.22.0
numpy==2.1.1
packaging==24.1
python-dotenv==1.0.1
scikit-learn==1.5.2
scipy==1.14.1
threadpoolctl==3.5.0
webargs==8.6.0
Werkzeug==3.0.4
